.heading {
  padding-top: 100px;
  text-align: center;
  border-bottom: 18px solid #ff4d5a;
  width:fit-content;
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.about_content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.about_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile_para {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  line-height: 1.8;
}
.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about_profile {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}
.about_skills {
  display: flex;
  flex-direction: row;
}
.skills_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.skills_item {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.skills_item.visible {
  opacity: 1;
  transform: translateX(0);
}

.skills_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;             /* Full width on smaller screens */
  max-width: 400px;       /* Limit width on larger screens */
  height: auto;
  margin: 1rem auto; 
  overflow: hidden;
  border: double 3px transparent;
  border-image-slice: 1;
  background-image: linear-gradient(#1a1a1a, #1a1a1a),
    radial-gradient(circle at top left, #51a2e9, #ff4d5a);
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.skills_item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.skills_item img {
  margin-left: 20px;
  margin-right: 20px;
  transform: scale(0.5);
  text-align: center;
}
.skill_name {
  font-weight: 650;
  letter-spacing: 1.5px;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 6px;
  text-align: center;
}
@media(max-width:1024px){
  .skills_item{
    max-width: 90%;
  }
}
@media(max-width:768px){
  .skills_item{
    max-width: 80%;
    gap: 1rem;
  }
}
@media (max-width: 480px) {
  .skills_item {
    width: 95%;            /* Full width on small screens */
    max-width: none;        /* Remove max-width limit */
    /* padding: 1rem; */
    gap: 2rem;
    margin: 5px;
  }
  .profile_para{
    font-size: 2rem;
  }

  .skill_name {
    font-size: 1.5rem;        /* Adjust text size */
  }

  .skills_item img {
    width: 100%;            /* Ensure image scales within the container */
    height: auto;
  }
}

@media(max-width:1200px){
  .about_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
