.contact-div{
    margin-top: 6rem;
    text-align: center;
    
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;                  
    padding: 20px;               
  }
  input, textarea {
    
    width: 30%;              
    max-width: 500px;            
    padding: 15px;              
    font-size: 18px;             
    border: 2px solid #ccc;
    border-radius: 8px;          
    box-sizing: border-box;
  }
  
  input:focus{
    border: none;
    outline: none;
  }
  textarea:focus{
    border: none;
    outline: none;
  }
  .ct{
    width: 20%;
  }
  .stmsg{
    text-transform: uppercase;
    font-size: 18px;
  }
  @media(max-width:600px){
    input,textarea{
      width: 70%;
    }
    .ct{
      width: 70%;
    }
  }
